<meta charset="utf-8">
<meta name="author" content="Francis del Mundo" />
<meta name="copyright" content="{{ helper:date format="Y" timestamp=start_on }} BombFish" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="language" content="{{ lang:code }}" />

{{ theme:favicon file="favicon.ico" sizes="16x16 32x32" }}

<base href="{{ url:base }}" />

{{ asset:css file="normalize.css" }}
{{ asset:css file="styles.css" }}

<!-- html5shiv v3.7.0 -->
<!--[if lt IE 9]>{{ asset:js file="html5shiv.js" }}<![endif]-->

<!-- jQuery v2.0.3 -->
{{ asset:js file="jquery-core.min.js" }} 

{{ asset:render }}

{{ template:metadata }}

<title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>
